### ETL Process

In [50]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [51]:
timezone_tb = """
            CREATE TABLE timezone(
                timezone_id       integer,
                timezone          varchar(100),
                PRIMARY KEY (timezone_id)
            )
            """

source_tb = """ 
        CREATE TABLE source(
            source        varchar(100),
            latitude      float,
            longitude     float,
            timezone_id   integer,
            PRIMARY KEY (source),
            FOREIGN KEY (timezone_id) REFERENCES timezone
        )
        """

timestamp_tb = """ 
        CREATE TABLE timestamp(
            timestamp   numeric(13,3),
            datetime    timestamp NOT NULL,
            PRIMARY KEY (timestamp),
            UNIQUE(datetime)
        )
       """
product_tb = """ 
        CREATE TABLE product(
            product_id       varchar(100),
            cab_type         varchar(100),
            name             varchar(100),
            PRIMARY KEY (product_id)
        )
        """

order__tb = """ 
        CREATE TABLE order_(
            id               varchar(100),
            product_id       varchar(100),
            PRIMARY KEY (id),
            FOREIGN KEY (product_id) REFERENCES product
        )
        """

trip_tb = """ 
        CREATE TABLE trip(
            id               varchar(100),
            timestamp     numeric(13,3),
            source        varchar(100),
            destination   varchar(100),
            distance      float NOT NULL,
            PRIMARY KEY (id,source, timestamp, destination),
            FOREIGN KEY (timestamp) REFERENCES timestamp,
            FOREIGN KEY (source) REFERENCES source,
            FOREIGN KEY(id) REFERENCES order_
        )
        """

solarTerms_tb = """ 
        CREATE TABLE "solarTerms"(
            datetime            timestamp,
            "sunriseTime"         char(10),
            "sunsetTime"          char(10),
            "moonPhase"           numeric(3,2),
            PRIMARY KEY (datetime),
            FOREIGN KEY (datetime) REFERENCES timestamp(datetime)
        )
        """



surge_tb = """ 
        CREATE TABLE surge(
            surge_id integer,
            surge_multiplier numeric(2,1) not null,
            PRIMARY KEY (surge_id)
        )
        """

price_tb = """ 
        CREATE TABLE price(
            id               varchar(100),
            surge_id integer,
            source        varchar(100),
            destination   varchar(100),
            product_id           varchar(100),
            timestamp     numeric(13,3),
            price                numeric(5,2),
            PRIMARY KEY (surge_id, source, timestamp, destination, product_id,id),
            FOREIGN KEY (surge_id) REFERENCES surge (surge_id),
            FOREIGN KEY (id,source, timestamp, destination) REFERENCES trip,
            FOREIGN KEY (product_id) REFERENCES product (product_id)
        )
        """

apparentTemperature_tb = """ 
        CREATE TABLE "apparentTemperature"(
            "apparentTemperature_id"        integer,
            "apparentTemperature"           numeric(4,2),
            "apparentTemperatureHigh"       numeric(4,2),
            "apparentTemperatureHighTime"   char(10),
            "apparentTemperatureLow"        numeric(4,2),
            "apparentTemperatureLowTime"    char(10),
            "apparentTemperatureMin"        numeric(4,2),
            "apparentTemperatureMinTime"    char(10),
            "apparentTemperatureMax"        numeric(4,2),
            "apparentTemperatureMaxTime"    char(10),
            PRIMARY KEY ("apparentTemperature_id")
        )
        """

temperature_tb = """ 
        CREATE TABLE temperature(
            temperature_id                integer,
            "apparentTemperature_id"        integer,
            temperature                   numeric(4,2),
            "temperatureHigh"               numeric(4,2),
            "temperatureHighTime"           char(10),
            "temperatureLow"                numeric(4,2),
            "temperatureLowTime"            char(10),
            "temperatureMin"                numeric(4,2),
            "temperatureMinTime"            char(10),
            "temperatureMax"                numeric(4,2),
            "temperatureMaxTime"            char(10),
            PRIMARY KEY (temperature_id),
            FOREIGN KEY ("apparentTemperature_id") REFERENCES "apparentTemperature"
        )
        """

weather_tb = """ 
        CREATE TABLE weather(
            weather_id                    integer,
            temperature_id                integer,
            short_summary                 varchar(100),
            "precipIntensity"               numeric(5,4),
            "precipProbability"             numeric(3,2),
            "precipIntensityMax"            numeric(5,4),
            humidity                      numeric(3,2),
            "windSpeed"                     numeric(4,2),
            "windGust"                      numeric(4,2),
            "windGustTime"                  char(10),
            visibility                    numeric(5,3),
            icon                          varchar(30),
            "dewPoint"                      numeric(4,2),
            pressure                      numeric(6,2),
            "windBearing"                   integer,
            "cloudCover"                    numeric(3,2),
            "uvIndex"                       integer,
            "uvIndexTime"                   char(10),
            ozone                         numeric(5,1),
            PRIMARY KEY (weather_id),
            FOREIGN KEY (temperature_id) REFERENCES temperature
        )
        """

climateSummary_tb = """ 
        CREATE TABLE "climateSummary"(
            id                    varchar(100),
            weather_id            integer,
            short_summary         varchar(100),
            long_summary          varchar(300),
            PRIMARY KEY (id, weather_id),
            FOREIGN KEY (id) REFERENCES order_,
            FOREIGN KEY (weather_id) REFERENCES weather
        )
        """

In [52]:
df = pd.read_csv("rideshare_kaggle.csv")
df

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 04:30:07.890000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-26 21:00:23.677000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-27 20:00:22.198000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-29 23:53:02.749000,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-28 22:49:20.223000,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [53]:
timezone_df = df[["timezone"]]
timezone_df = timezone_df.drop_duplicates(ignore_index=True)
timezone_df.insert(0, "timezone_id", range(1, 1 + len(timezone_df)))
timezone_df

   timezone_id          timezone
0            1  America/New_York

In [54]:
source_df = df[["timezone","source", "latitude", "longitude"]]
source_df.insert(0, "timezone_id", range(1, 1 + len(source_df)))
source_df['timezone_id'] = source_df['timezone'].map(timezone_df.set_index('timezone')['timezone_id'])
source_df = source_df[["source", "latitude", "longitude", "timezone_id"]].drop_duplicates(subset="source", ignore_index=True)
source_df

/Users/zhangjiaming/opt/anaconda3/envs/text-mine/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                     source  latitude  longitude  timezone_id
0          Haymarket Square   42.2148   -71.0330            1
1                  Back Bay   42.3503   -71.0810            1
2                 North End   42.3647   -71.0542            1
3             North Station   42.3661   -71.0631            1
4               Beacon Hill   42.3588   -71.0707            1
5         Boston University   42.3505   -71.1054            1
6                    Fenway   42.3505   -71.1054            1
7             South Station   42.3519   -71.0551            1
8          Theatre District   42.2148   -71.0330            1
9                  West End   42.3661   -71.0631            1
10       Financial District   42.3559   -71.0550            1
11  Northeastern University   42.3398   -71.0892            1

In [55]:
timestamp_df = df[["timestamp", "datetime"]].drop_duplicates(ignore_index=True)
timestamp_df

          timestamp                    datetime
0      1.544953e+09  2018-12-16 04:30:07.890000
1      1.543284e+09  2018-11-26 21:00:23.677000
2      1.543367e+09  2018-11-27 20:00:22.198000
3      1.543554e+09  2018-11-29 23:53:02.749000
4      1.543463e+09  2018-11-28 22:49:20.223000
...             ...                         ...
36174  1.544999e+09  2018-12-16 17:15:07.000000
36175  1.543869e+09  2018-12-03 15:33:02.000000
36176  1.543775e+09  2018-12-02 13:28:02.000000
36177  1.545071e+09  2018-12-17 13:15:10.000000
36178  1.544739e+09  2018-12-13 17:10:04.000000

[36179 rows x 2 columns]

In [56]:
trip_df = df[[ "timestamp","source", "destination", "distance","id"]].drop_duplicates(ignore_index=True)
trip_df

,timestamp,source,destination,distance,id
0,1.544953e+09,Haymarket Square,North Station,0.44,424553bb-7174-41ea-aeb4-fe06d4f4b9d7
1,1.543284e+09,Haymarket Square,North Station,0.44,4bd23055-6827-41c6-b23b-3c491f24e74d
2,1.543367e+09,Haymarket Square,North Station,0.44,981a3613-77af-4620-a42a-0c0866077d1e
3,1.543554e+09,Haymarket Square,North Station,0.44,c2d88af2-d278-4bfd-a8d0-29ca77cc5512
4,1.543463e+09,Haymarket Square,North Station,0.44,e0126e1f-8ca9-4f2e-82b3-50505a09db9a
...,...,...,...,...,...
693066,1.543708e+09,West End,North End,1.00,616d3611-1820-450a-9845-a9ff304a4842
693067,1.543708e+09,West End,North End,1.00,633a3fc3-1f86-4b9e-9d48-2b7132112341
693068,1.543708e+09,West End,North End,1.00,64d451d0-639f-47a4-9b7c-6fd92fbd264f
693069,1.543708e+09,West End,North End,1.00,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e
693070,1.543708e+09,West End,North End,1.00,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda

In [57]:
solarTerms_df = df[["datetime", "sunriseTime", "sunsetTime", "moonPhase"]].drop_duplicates(ignore_index=True)
solarTerms_df

                         datetime  sunriseTime  sunsetTime  moonPhase
0      2018-12-16 04:30:07.890000   1544962084  1544994864       0.30
1      2018-11-26 21:00:23.677000   1543232969  1543266992       0.64
2      2018-11-27 20:00:22.198000   1543319437  1543353364       0.68
3      2018-11-29 23:53:02.749000   1543492370  1543526114       0.75
4      2018-11-28 22:49:20.223000   1543405904  1543439738       0.72
...                           ...          ...         ...        ...
36174  2018-12-16 17:15:07.000000   1544962123  1544994849       0.30
36175  2018-12-03 15:33:02.000000   1543838259  1543871631       0.89
36176  2018-12-02 13:28:02.000000   1543751796  1543785235       0.86
36177  2018-12-17 13:15:10.000000   1545048523  1545081282       0.33
36178  2018-12-13 17:10:04.000000   1544702794  1544735602       0.21

[36179 rows x 4 columns]

In [58]:
product_df = df[["product_id", "cab_type", "name"]].drop_duplicates(ignore_index=True)
product_df

                              product_id cab_type          name
0                              lyft_line     Lyft        Shared
1                           lyft_premier     Lyft           Lux
2                                   lyft     Lyft          Lyft
3                            lyft_luxsuv     Lyft  Lux Black XL
4                              lyft_plus     Lyft       Lyft XL
5                               lyft_lux     Lyft     Lux Black
6   6f72dfc5-27f1-42e8-84db-ccc7a75f6969     Uber        UberXL
7   6c84fd89-3f11-4782-9b50-97c468b19529     Uber         Black
8   55c66225-fbe7-4fd5-9072-eab1ece5e23e     Uber         UberX
9   9a0e7b09-b92b-4c41-9779-2ad22b4d779d     Uber           WAV
10  6d318bcc-22a3-4af6-bddd-b409bfce1546     Uber     Black SUV
11  997acbb5-e102-41e1-b155-9df7de0a73f2     Uber      UberPool
12  8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a     Uber          Taxi

In [59]:
order__df = df[["id", "product_id"]].drop_duplicates(ignore_index=True)
order__df

,id,product_id
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line
1,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier
2,981a3613-77af-4620-a42a-0c0866077d1e,lyft
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus
...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2

In [60]:
surge_df = df[["surge_multiplier"]].drop_duplicates(ignore_index=True)
surge_df['surge_id']=np.arange(len(surge_df))+1
surge_df

   surge_multiplier  surge_id
0              1.00         1
1              1.25         2
2              2.50         3
3              2.00         4
4              1.75         5
5              1.50         6
6              3.00         7

In [61]:
price_df = df[["surge_multiplier", "timestamp","source", "destination", "product_id", "price","id"]].drop_duplicates(ignore_index=True)
price_df=price_df.merge(surge_df,on='surge_multiplier',how='inner').drop('surge_multiplier',1)
price_df

/Users/zhangjiaming/opt/anaconda3/envs/text-mine/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,timestamp,source,destination,product_id,price,id,surge_id
0,1.544953e+09,Haymarket Square,North Station,lyft_line,5.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1
1,1.543284e+09,Haymarket Square,North Station,lyft_premier,11.0,4bd23055-6827-41c6-b23b-3c491f24e74d,1
2,1.543367e+09,Haymarket Square,North Station,lyft,7.0,981a3613-77af-4620-a42a-0c0866077d1e,1
3,1.543554e+09,Haymarket Square,North Station,lyft_luxsuv,26.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1
4,1.543463e+09,Haymarket Square,North Station,lyft_plus,9.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1
...,...,...,...,...,...,...,...
693066,1.543408e+09,Back Bay,North End,lyft,27.5,8840e1a9-b116-4c13-a34a-e31ba3fff549,7
693067,1.543294e+09,Boston University,Financial District,lyft_plus,65.0,358f083b-e2b5-4a8c-b98c-497b046f6743,7
693068,1.544759e+09,Boston University,Financial District,lyft,38.5,737dafa2-da81-41bc-adbb-1b2ed5ca90da,7
693069,1.543673e+09,Beacon Hill,Boston University,lyft_plus,42.5,3e8cde11-2963-4267-88ed-f256c6e1f297,7
693070,1.543673e+09,Beacon Hill,Boston University,lyft,26.0,b71ea9d2-87f5-4205-b7ea-84aa0051b3f0,7

In [62]:
at_df = df[["apparentTemperature", "apparentTemperatureHigh", "apparentTemperatureHighTime", "apparentTemperatureLow", "apparentTemperatureLowTime", "apparentTemperatureMin", "apparentTemperatureMinTime", "apparentTemperatureMax", "apparentTemperatureMaxTime"]]
apparentTemperature_df = at_df.drop_duplicates(ignore_index=True)
apparentTemperature_df.insert(0, "apparentTemperature_id", range(1, 1 + len(apparentTemperature_df)))
apparentTemperature_df

,apparentTemperature_id,apparentTemperature,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,1,37.12,37.95,1544968800,27.39,1545044400,33.73,1545012000,38.07,1544958000
1,2,37.35,43.92,1543251600,36.20,1543291200,36.20,1543291200,43.92,1543251600
2,3,32.93,44.12,1543320000,29.11,1543392000,31.04,1543377600,44.12,1543320000
3,4,29.63,38.53,1543510800,26.20,1543575600,30.30,1543550400,38.53,1543510800
4,5,30.88,35.75,1543420800,30.29,1543460400,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...
327,328,31.10,32.95,1544734800,24.55,1544785200,13.72,1544688000,32.95,1544734800
328,329,35.58,38.39,1544986800,28.43,1545044400,33.99,1545019200,38.39,1544986800
329,330,30.41,36.54,1543435200,31.79,1543478400,29.88,1543399200,36.54,1543435200
330,331,41.52,43.21,1543186800,39.27,1543233600,38.28,1543136400,43.21,1543186800
331,332,41.83,43.17,1543186800,39.21,1543233600,38.23,1543136400,43.17,1543186800

In [63]:
temp_col = ["temperature", "temperatureHigh", "temperatureHighTime", "temperatureLow", "temperatureLowTime", "temperatureMin", "temperatureMinTime", "temperatureMax", "temperatureMaxTime"]
atemp_col = ["apparentTemperature", "apparentTemperatureHigh", "apparentTemperatureHighTime", "apparentTemperatureLow", "apparentTemperatureLowTime", "apparentTemperatureMin", "apparentTemperatureMinTime", "apparentTemperatureMax", "apparentTemperatureMaxTime"]
temp_df = df[temp_col + atemp_col]
temperature_df = temp_df.merge(apparentTemperature_df, on = atemp_col, how = 'inner').drop(temp_df[atemp_col], axis = 1).drop_duplicates(ignore_index = True)
temperature_df.insert(0, "temperature_id", range(1, 1 + len(temperature_df)))
temperature_df

,temperature_id,temperature,temperatureHigh,temperatureHighTime,temperatureLow,temperatureLowTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperature_id
0,1,42.34,43.68,1544968800,34.19,1545048000,39.89,1545012000,43.68,1544968800,1
1,2,43.58,47.30,1543251600,42.10,1543298400,40.49,1543233600,47.30,1543251600,2
2,3,38.33,47.55,1543320000,33.10,1543402800,35.36,1543377600,47.55,1543320000,3
3,4,34.38,45.03,1543510800,28.90,1543579200,34.67,1543550400,45.03,1543510800,4
4,5,37.44,42.18,1543420800,36.71,1543478400,33.10,1543402800,42.18,1543420800,5
...,...,...,...,...,...,...,...,...,...,...,...
327,328,31.10,33.96,1544731200,27.21,1544781600,18.24,1544688000,33.96,1544731200,328
328,329,40.93,43.73,1544990400,34.24,1545044400,38.94,1544954400,43.73,1544990400,329
329,330,34.51,42.57,1543438800,37.27,1543489200,33.65,1543399200,42.57,1543438800,330
330,331,41.52,46.28,1543154400,40.21,1543233600,40.73,1543122000,46.28,1543154400,331
331,332,41.83,46.15,1543154400,40.15,1543233600,40.61,1543122000,46.15,1543154400,332

In [64]:
weather_col = ["short_summary", "precipIntensity", "precipProbability", "precipIntensityMax", "humidity", "windSpeed", "windGust", "windGustTime", "visibility", "icon", "dewPoint", "pressure", "windBearing", "cloudCover", "uvIndex", "uvIndexTime", "ozone"]
weather_df = df[weather_col + temp_col]
weather_df = weather_df.merge(temperature_df, on = temp_col, how = 'inner').drop(weather_df[temp_col], axis = 1)
weather_df = weather_df.drop('apparentTemperature_id',1).drop_duplicates(ignore_index = True)
weather_df.insert(0, "weather_id", range(1, 1 + len(weather_df)))
weather_df

/Users/zhangjiaming/opt/anaconda3/envs/text-mine/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,weather_id,short_summary,precipIntensity,precipProbability,precipIntensityMax,humidity,windSpeed,windGust,windGustTime,visibility,icon,dewPoint,pressure,windBearing,cloudCover,uvIndex,uvIndexTime,ozone,temperature_id
0,1,Mostly Cloudy,0.0000,0.00,0.1276,0.68,8.66,9.17,1545015600,10.000,partly-cloudy-night,32.70,1021.98,57,0.72,0,1544979600,303.8,1
1,2,Rain,0.1299,1.00,0.1300,0.94,11.98,11.98,1543291200,4.786,rain,41.83,1003.97,90,1.00,0,1543251600,291.1,2
2,3,Clear,0.0000,0.00,0.1064,0.75,7.33,7.33,1543334400,10.000,clear-night,31.10,992.28,240,0.03,0,1543338000,315.7,3
3,4,Clear,0.0000,0.00,0.0000,0.73,5.28,5.28,1543514400,10.000,clear-night,26.64,1013.73,310,0.00,0,1543507200,291.1,4
4,5,Partly Cloudy,0.0000,0.00,0.0001,0.70,9.14,9.14,1543446000,10.000,partly-cloudy-night,28.61,998.36,303,0.44,0,1543420800,347.7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,328,Overcast,0.0000,0.00,0.0001,0.71,1.66,2.42,1544738400,9.849,cloudy,22.68,1034.90,200,1.00,0,1544716800,310.1,328
328,329,Rain,0.1044,0.99,0.1254,0.90,8.29,9.96,1545015600,2.825,rain,38.12,1012.14,54,0.99,0,1544979600,325.3,329
329,330,Clear,0.0000,0.00,0.0000,0.81,4.58,6.60,1543431600,9.928,clear-night,29.15,991.23,246,0.12,0,1543420800,341.9,330
330,331,Overcast,0.0000,0.00,0.1459,0.90,0.45,0.87,1543150800,4.159,cloudy,38.76,1014.06,86,1.00,0,1543161600,313.0,331
331,332,Foggy,0.0000,0.00,0.1396,0.92,0.51,0.80,1543150800,1.685,fog,39.62,1014.10,57,1.00,0,1543161600,317.9,332

In [65]:
cli_col = ["id", "short_summary", "long_summary"]
extra_col = ["precipIntensity", "precipProbability", "precipIntensityMax", "humidity", "windSpeed", "windGust", "windGustTime", "visibility", "icon", "dewPoint", "pressure", "windBearing", "cloudCover", "uvIndex", "uvIndexTime", "ozone"]
climateSummary_df = df[cli_col + extra_col]
climateSummary_df = climateSummary_df.merge(weather_df, on = weather_col, how = 'inner')
climateSummary_df = climateSummary_df.drop(extra_col, 1).drop_duplicates(ignore_index = True)
climateSummary_df = climateSummary_df.drop("temperature_id", 1)
climateSummary_df

/Users/zhangjiaming/opt/anaconda3/envs/text-mine/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """
/Users/zhangjiaming/opt/anaconda3/envs/text-mine/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,id,short_summary,long_summary,weather_id
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,Mostly Cloudy,Rain throughout the day.,1
1,14fd1233-8cea-4061-a66a-9a5ecec07f66,Mostly Cloudy,Rain throughout the day.,1
2,1a9b53d4-cc4a-4388-889e-08edddd792d0,Mostly Cloudy,Rain throughout the day.,1
3,c4ce03c0-f6be-4a84-863b-5a7be57af11b,Mostly Cloudy,Rain throughout the day.,1
4,0d468502-34b5-447f-be9f-acbb62176072,Mostly Cloudy,Rain throughout the day.,1
...,...,...,...,...
693066,6172077a-22de-481b-aae2-b5763c87a6c4,Foggy,Rain in the morning and afternoon.,332
693067,8682f9bf-5cc0-4dfc-b8fe-4e22070d1684,Foggy,Rain in the morning and afternoon.,332
693068,106a9d6b-c75a-401a-9063-48269bac2400,Foggy,Rain in the morning and afternoon.,332
693069,14f69fcd-c958-4341-92dc-1590faf7142b,Foggy,Rain in the morning and afternoon.,332
693070,15172a6e-6be1-48ed-b6c4-f4eeff32ebdc,Foggy,Rain in the morning and afternoon.,332

In [44]:
conn_url = 'postgresql://postgres:123@localhost/5310_Project'
engine = create_engine(conn_url)
connection = engine.connect()

In [69]:
connection.execute(timezone_tb)
connection.execute(source_tb)
connection.execute(timestamp_tb)
connection.execute(product_tb)
connection.execute(order__tb)
connection.execute(trip_tb)
connection.execute(solarTerms_tb)
connection.execute(surge_tb)
connection.execute(price_tb)
connection.execute(apparentTemperature_tb)
connection.execute(temperature_tb)
connection.execute(weather_tb)
connection.execute(climateSummary_tb)

In [70]:
timezone_df.to_sql(name='timezone', con=engine, if_exists='append', index=False)
source_df.to_sql(name='source', con=engine, if_exists='append', index=False)
timestamp_df.to_sql(name='timestamp', con=engine, if_exists='append', index=False)
product_df.to_sql(name='product', con=engine, if_exists='append', index=False)
order__df.to_sql(name='order_', con=engine, if_exists='append', index=False)
trip_df.to_sql(name='trip', con=engine, if_exists='append', index=False)
solarTerms_df.to_sql(name='solarTerms', con=engine, if_exists='append', index=False)
surge_df.to_sql(name='surge', con=engine, if_exists='append', index=False)
price_df.to_sql(name='price', con=engine, if_exists='append', index=False)
apparentTemperature_df.to_sql(name='apparentTemperature', con=engine, if_exists='append', index=False)
temperature_df.to_sql(name='temperature', con=engine, if_exists='append', index=False)
weather_df.to_sql(name='weather', con=engine, if_exists='append', index=False)
climateSummary_df.to_sql(name='climateSummary', con=engine, if_exists='append', index=False)