### ETL Process

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
timezone_tb = """
            CREATE TABLE timezone(
                timezone_id       integer,
                timezone          varchar(100),
                PRIMARY KEY (timezone_id)
            )
            """

source_tb = """ 
        CREATE TABLE source(
            source        varchar(100),
            latitude      float,
            longitude     float,
            timezone_id   integer,
            PRIMARY KEY (source),
            FOREIGN KEY (timezone_id) REFERENCES timezone
        )
        """

timestamp_tb = """ 
        CREATE TABLE timestamp(
            timestamp   numeric(13,3),
            datetime    timestamp NOT NULL,
            PRIMARY KEY (timestamp),
            UNIQUE(datetime)
        )
       """
product_tb = """ 
        CREATE TABLE product(
            product_id       varchar(100),
            cab_type         varchar(100),
            name             varchar(100),
            PRIMARY KEY (product_id)
        )
        """

order__tb = """ 
        CREATE TABLE order_(
            id               varchar(100),
            product_id       varchar(100),
            PRIMARY KEY (id),
            FOREIGN KEY (product_id) REFERENCES product
        )
        """

trip_tb = """ 
        CREATE TABLE trip(
            id               varchar(100),
            timestamp     numeric(13,3),
            source        varchar(100),
            destination   varchar(100),
            distance      float NOT NULL,
            PRIMARY KEY (id,source, timestamp, destination),
            FOREIGN KEY (timestamp) REFERENCES timestamp,
            FOREIGN KEY (source) REFERENCES source,
            FOREIGN KEY(id) REFERENCES order_
        )
        """

solarTerms_tb = """ 
        CREATE TABLE "solarTerms"(
            datetime            timestamp,
            "sunriseTime"         char(10),
            "sunsetTime"          char(10),
            "moonPhase"           numeric(3,2),
            PRIMARY KEY (datetime),
            FOREIGN KEY (datetime) REFERENCES timestamp(datetime)
        )
        """



surge_tb = """ 
        CREATE TABLE surge(
            surge_id integer,
            surge_multiplier numeric(2,1) not null,
            PRIMARY KEY (surge_id)
        )
        """

price_tb = """ 
        CREATE TABLE price(
            id               varchar(100),
            surge_id integer,
            source        varchar(100),
            destination   varchar(100),
            product_id           varchar(100),
            timestamp     numeric(13,3),
            price                numeric(5,2),
            PRIMARY KEY (surge_id, source, timestamp, destination, product_id,id),
            FOREIGN KEY (surge_id) REFERENCES surge (surge_id),
            FOREIGN KEY (id,source, timestamp, destination) REFERENCES trip,
            FOREIGN KEY (product_id) REFERENCES product (product_id)
        )
        """

apparentTemperature_tb = """ 
        CREATE TABLE "apparentTemperature"(
            "apparentTemperature_id"        integer,
            "apparentTemperature"           numeric(4,2),
            "apparentTemperatureHigh"       numeric(4,2),
            "apparentTemperatureHighTime"   char(10),
            "apparentTemperatureLow"        numeric(4,2),
            "apparentTemperatureLowTime"    char(10),
            "apparentTemperatureMin"        numeric(4,2),
            "apparentTemperatureMinTime"    char(10),
            "apparentTemperatureMax"        numeric(4,2),
            "apparentTemperatureMaxTime"    char(10),
            PRIMARY KEY ("apparentTemperature_id")
        )
        """

temperature_tb = """ 
        CREATE TABLE temperature(
            temperature_id                integer,
            "apparentTemperature_id"        integer,
            temperature                   numeric(4,2),
            "temperatureHigh"               numeric(4,2),
            "temperatureHighTime"           char(10),
            "temperatureLow"                numeric(4,2),
            "temperatureLowTime"            char(10),
            "temperatureMin"                numeric(4,2),
            "temperatureMinTime"            char(10),
            "temperatureMax"                numeric(4,2),
            "temperatureMaxTime"            char(10),
            PRIMARY KEY (temperature_id),
            FOREIGN KEY ("apparentTemperature_id") REFERENCES "apparentTemperature"
        )
        """

weather_tb = """ 
        CREATE TABLE weather(
            weather_id                    integer,
            temperature_id                integer,
            short_summary                 varchar(100),
            "precipIntensity"               numeric(5,4),
            "precipProbability"             numeric(3,2),
            "precipIntensityMax"            numeric(5,4),
            humidity                      numeric(3,2),
            "windSpeed"                     numeric(4,2),
            "windGust"                      numeric(4,2),
            "windGustTime"                  char(10),
            visibility                    numeric(5,3),
            icon                          varchar(30),
            "dewPoint"                      numeric(4,2),
            pressure                      numeric(6,2),
            "windBearing"                   integer,
            "cloudCover"                    numeric(3,2),
            "uvIndex"                       integer,
            "uvIndexTime"                   char(10),
            ozone                         numeric(5,1),
            PRIMARY KEY (weather_id),
            FOREIGN KEY (temperature_id) REFERENCES temperature
        )
        """

climateSummary_tb = """ 
        CREATE TABLE "climateSummary"(
            id                    varchar(100),
            weather_id            integer,
            short_summary         varchar(100),
            long_summary          varchar(300),
            PRIMARY KEY (id, weather_id),
            FOREIGN KEY (id) REFERENCES order_,
            FOREIGN KEY (weather_id) REFERENCES weather
        )
        """

In [101]:
df = pd.read_csv("rideshare_kaggle.csv")
df

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 04:30:07.890000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-26 21:00:23.677000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-27 20:00:22.198000,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-29 23:53:02.749000,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-28 22:49:20.223000,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 18:53:06.000000,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [ ]:
timezone_df = df[["timezone"]]
timezone_df = timezone_df.drop_duplicates(ignore_index=True)
timezone_df.insert(0, "timezone_id", range(1, 1 + len(timezone_df)))
timezone_df

In [ ]:
source_df = df[[t]]
source_df.insert(0, "timezone_id", range(1, 1 + len(source_df)))
source_df['timezone_id'] = source_df['timezone'].map(timezone_df.set_index('timezone')['timezone_id'])
source_df = source_df[["source", "latitude", "longitude", "timezone_id"]].drop_duplicates(subset="source", ignore_index=True)
source_df

In [ ]:
timestamp_df = df[["timestamp", "datetime"]].drop_duplicates(ignore_index=True)
timestamp_df

In [ ]:
trip_df = df[[ "timestamp","source", "destination", "distance","id"]].drop_duplicates(ignore_index=True)
trip_df

In [ ]:
solarTerms_df = df[["datetime", "sunriseTime", "sunsetTime", "moonPhase"]].drop_duplicates(ignore_index=True)
solarTerms_df

In [ ]:
product_df = df[["product_id", "cab_type", "name"]].drop_duplicates(ignore_index=True)
product_df

In [ ]:
order__df = df[["id", "product_id"]].drop_duplicates(ignore_index=True)
order__df

In [ ]:
surge_df = df[["surge_multiplier"]].drop_duplicates(ignore_index=True)
surge_df['surge_id']=np.arange(len(surge_df))+1
surge_df

In [ ]:
price_df = df[["surge_multiplier", "timestamp","source", "destination", "product_id", "price","id"]].drop_duplicates(ignore_index=True)
price_df=price_df.merge(surge_df,on='surge_multiplier',how='inner').drop('surge_multiplier',1)
price_df

In [ ]:
at_df = df[["apparentTemperature", "apparentTemperatureHigh", "apparentTemperatureHighTime", "apparentTemperatureLow", "apparentTemperatureLowTime", "apparentTemperatureMin", "apparentTemperatureMinTime", "apparentTemperatureMax", "apparentTemperatureMaxTime"]]
apparentTemperature_df = at_df.drop_duplicates(ignore_index=True)
apparentTemperature_df.insert(0, "apparentTemperature_id", range(1, 1 + len(apparentTemperature_df)))
apparentTemperature_df

In [ ]:
temp_col = ["temperature", "temperatureHigh", "temperatureHighTime", "temperatureLow", "temperatureLowTime", "temperatureMin", "temperatureMinTime", "temperatureMax", "temperatureMaxTime"]
atemp_col = ["apparentTemperature", "apparentTemperatureHigh", "apparentTemperatureHighTime", "apparentTemperatureLow", "apparentTemperatureLowTime", "apparentTemperatureMin", "apparentTemperatureMinTime", "apparentTemperatureMax", "apparentTemperatureMaxTime"]
temp_df = df[temp_col + atemp_col]
temperature_df = temp_df.merge(apparentTemperature_df, on = atemp_col, how = 'inner').drop(temp_df[atemp_col], axis = 1).drop_duplicates(ignore_index = True)
temperature_df.insert(0, "temperature_id", range(1, 1 + len(temperature_df)))
temperature_df

In [ ]:
weather_col = ["short_summary", "precipIntensity", "precipProbability", "precipIntensityMax", "humidity", "windSpeed", "windGust", "windGustTime", "visibility", "icon", "dewPoint", "pressure", "windBearing", "cloudCover", "uvIndex", "uvIndexTime", "ozone"]
weather_df = df[weather_col + temp_col]
weather_df = weather_df.merge(temperature_df, on = temp_col, how = 'inner').drop(weather_df[temp_col], axis = 1)
weather_df = weather_df.drop('apparentTemperature_id',1).drop_duplicates(ignore_index = True)
weather_df.insert(0, "weather_id", range(1, 1 + len(weather_df)))
weather_df

In [ ]:
cli_col = ["id", "short_summary", "long_summary"]
extra_col = ["precipIntensity", "precipProbability", "precipIntensityMax", "humidity", "windSpeed", "windGust", "windGustTime", "visibility", "icon", "dewPoint", "pressure", "windBearing", "cloudCover", "uvIndex", "uvIndexTime", "ozone"]
climateSummary_df = df[cli_col + extra_col]
climateSummary_df = climateSummary_df.merge(weather_df, on = weather_col, how = 'inner')
climateSummary_df = climateSummary_df.drop(extra_col, 1).drop_duplicates(ignore_index = True)
climateSummary_df = climateSummary_df.drop("temperature_id", 1)
climateSummary_df

In [26]:
conn_url = 'postgresql://postgres:123@localhost/5310_Project'
engine = create_engine(conn_url)
connection = engine.connect()

In [27]:
connection.execute(timezone_tb)
connection.execute(source_tb)
connection.execute(timestamp_tb)
connection.execute(product_tb)
connection.execute(order__tb)
connection.execute(trip_tb)
connection.execute(solarTerms_tb)
connection.execute(surge_tb)
connection.execute(price_tb)
connection.execute(apparentTemperature_tb)
connection.execute(temperature_tb)
connection.execute(weather_tb)
connection.execute(climateSummary_tb)

ProgrammingError: (psycopg2.errors.DuplicateTable) relation "timezone" already exists

[SQL:
            CREATE TABLE timezone(
                timezone_id       integer,
                timezone          varchar(100),
                PRIMARY KEY (timezone_id)
            )
            ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [41]:
timezone_df.to_sql(name='timezone', con=engine, if_exists='append', index=False)
source_df.to_sql(name='source', con=engine, if_exists='append', index=False)
timestamp_df.to_sql(name='timestamp', con=engine, if_exists='append', index=False)
product_df.to_sql(name='product', con=engine, if_exists='append', index=False)
order__df.to_sql(name='order_', con=engine, if_exists='append', index=False)
trip_df.to_sql(name='trip', con=engine, if_exists='append', index=False)
solarTerms_df.to_sql(name='solarTerms', con=engine, if_exists='append', index=False)
surge_df.to_sql(name='surge', con=engine, if_exists='append', index=False)
price_df.to_sql(name='price', con=engine, if_exists='append', index=False)
apparentTemperature_df.to_sql(name='apparentTemperature', con=engine, if_exists='append', index=False)
temperature_df.to_sql(name='temperature', con=engine, if_exists='append', index=False)
weather_df.to_sql(name='weather', con=engine, if_exists='append', index=False)
climateSummary_df.to_sql(name='climateSummary', con=engine, if_exists='append', index=False)